<h1>Add or Create a Friend</h1>

<%= form_for @friend do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.label :Hair_Color %>
  <%= f.text_field :hair_color %>
  <%= f.label :Eye_Color %>
  <%= f.text_field :eye_color %>
  <%= f.label :Gender %>
  <%= f.text_field :gender %>
  <%= f.label :Alive? %>
  <%= f.text_field :alive %>

  <%= f.submit %>
<% end %>