<h1>Friend!</h1>
Name:
<%=  @friend.name %>
<div></div>
Age:
<%= @friend.age %>
<div></div>
Hair Color:
<%= @friend.hair_color %>
<div></div>
Eye Color:
<%= @friend.eye_color %>
<div></div>
Gender:
<%= @friend.gender %>
<div></div>
Living?
<%= @friend.alive %>
<div></div>
<%= link_to 'Back', friends_path %>
